force-app/main/default/flows/AL_Create_Customer_Care_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_to_Variable</name>
        <label>Assign Account to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Market_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Danish_Values</name>
        <label>Assign Danish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DKK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryManagerRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Danish_Country_Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DFJ_DK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Irish_Values</name>
        <label>Assign Irish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryManagerRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Irish_Country_Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IsSuccess_False</name>
        <label>Assign IsSuccess False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_IsSuccess_True</name>
        <label>Assign IsSuccess True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Swedish_Values</name>
        <label>Assign Swedish Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryManagerRoleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Swedish_Country_Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DFJ_SE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Flow_Fault_Message</name>
        <label>Populate Custom Error with Flow Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IsSuccess_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_Invalid_or_Missing_Market_Unit</name>
        <label>Populate Custom Error with Invalid or Missing Market Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Invalid or Missing Market Unit: {!Account.Market_Unit__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_IsSuccess_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Custom_Error_with_No_Account_Found</name>
        <label>Populate Custom Error with No Account Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Input Record ID &quot;{!recordId}&quot; did not match an Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_IsSuccess_False</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_Create_Opportunity_Subflow_Succeed</name>
        <label>Did Create Opportunity Subflow Succeed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_IsSuccess_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Oppty_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreateOpptySuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IsSuccess_True</targetReference>
            </connector>
            <label>Successful Oppty Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_We_Find_an_Account</name>
        <label>Did We Find an Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference
      >Populate_Custom_Error_with_No_Account_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_Variable</targetReference>
            </connector>
            <label>Got Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Market_Unit</name>
        <label>What is the Market Unit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference
      >Populate_Custom_Error_with_Invalid_or_Missing_Market_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Danish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DFJ_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Danish_Values</targetReference>
            </connector>
            <label>Danish Market Unit</label>
        </rules>
        <rules>
            <name>Swedish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA_SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Swedish_Values</targetReference>
            </connector>
            <label>Swedish Market Unit</label>
        </rules>
        <rules>
            <name>Irish_Market_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Market_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Irish_Values</targetReference>
            </connector>
            <label>Irish Market Unit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmTodayPlus7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel
  >AL - Create Customer Care Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AL - Create Customer Care Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_an_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference
      >Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Care_Record_Type</name>
        <label>Get Customer Care Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >AL_Create_Opportunity_from_Input_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference
      >Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Care</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OpptyRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpptyRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Role</name>
        <label>Get Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference
      >Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryManagerRoleName</elementReference>
            </value>
        </filters>
        <object>UserRole</object>
        <outputAssignments>
            <assignToReference>CountryManagerRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Care_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference
      >Populate_Custom_Error_with_Flow_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryManagerRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OpportunityOwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AL_Create_Opportunity_from_Input_Values</name>
        <label>AL - Create Opportunity from Input Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Did_Create_Opportunity_Subflow_Succeed</targetReference>
        </connector>
        <flowName>AL_Create_Opportunity_from_Input_Values</flowName>
        <inputAssignments>
            <name>inputCategory</name>
            <value>
                <stringValue>Customer Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCloseDate</name>
            <value>
                <elementReference>frmTodayPlus7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCustomerName</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMarketUnit</name>
            <value>
                <elementReference>Account.Market_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOpptyName</name>
            <value>
                <elementReference>ptOpptyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOwnerId</name>
            <value>
                <elementReference>OpportunityOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputPriceBookIdentifier</name>
            <value>
                <elementReference>PricebookIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordTypeId</name>
            <value>
                <elementReference>OpptyRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputStage</name>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsCreateOpptySuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ptOpptyName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!OpptyRecordTypeName} - {!Account.Name}</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CountryManagerRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountryManagerRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsCreateOpptySuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
